# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

/.angular/cache/21.2.7
/.vs
/obj/Debug
/BackEnd/.vs
/BackEnd/Medforce.Graph.Services/bin/Debug/netcoreapp3.1
/BackEnd/Medforce.Graph.Services/obj
/BackEnd/MedGyn.MedForce.Common/bin
/BackEnd/MedGyn.MedForce.Common/obj
/BackEnd/MedGyn.MedForce.Data/bin
/BackEnd/MedGyn.MedForce.Data/obj
/BackEnd/MedGyn.MedForce.Facade/bin
/BackEnd/MedGyn.MedForce.Facade/obj
/BackEnd/MedGyn.MedForce.Service/bin
/BackEnd/MedGyn.MedForce.Service/obj
/BackEnd/MedGyn.MedForce.Web/bin
/BackEnd/MedGyn.MedForce.Web/obj
/BackEnd/MedGyn.MedForce.WebServiceAPI/.vs/MedGyn.MedForce.WebServiceAPI
/BackEnd/MedGyn.MedForce.WebServiceAPI/bin
/BackEnd/MedGyn.MedForce.WebServiceAPI/obj
/BackEnd/Medgyn.Meforce.LLMAgent/bin/Debug/netstandard2.0
/BackEnd/Medgyn.Meforce.LLMAgent/obj
