@model MedGyn.MedForce.Facade.ViewModels.ChangePasswordViewModel
@{
	ViewData["Title"] = "Change Password";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, null, new { @class = "form-horizontal form-material", id = "changePasswordForm" }))
{
	@if (Model != null && !Model.Success)
	{
		<div class="alert alert-danger">
			@foreach (var error in Model.Errors)
			{
				<div>@error</div>
			}
		</div>
	}
	<div class="form-group">
		<div class="col-xs-12">
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text", autocomplete = "off", placeholder = "Email", aria_required = "true", aria_describedby = "email-error" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control password-control", autocomplete = "off", placeholder = "Password", aria_required = "true", aria_describedby = "password-error" })
			<span class="mytooltip tooltip-effect-1 password-tooltip">
				<span data-icon="~" class="tooltip-item linea-icon linea-basic"></span>
				<span class="tooltip-content clearfix">
					<span class="tooltip-text">Password must contain:&#13;&#10;- 8 Characters&#13;&#10;- At least (1) one uppercase letter&#13;&#10;- At least (1) one special character&#13;&#10;- At least (1) one number</span>
				</span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Confirm Password", aria_required = "true", aria_describedby = "confirm-password-error" })
		</div>
	</div>
	<div class="form-group text-center m-t-20">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase">Update</button>
		</div>
	</div>
}
