@{
    ViewData["Title"] = "Unauthorized Access";
}

<h2>@ViewData["Title"]</h2>

<p>You're current role does not have sufficient priviledges to access the requested resource.  
    Please request access from your supervisor or system administrator.</p>
