<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Forgot Password</title>
</head>
<body>
    <p>Hello!</p>
    <p>Here is your login and temporary password.</p>
    <p>When you login using the temporary password, you will be asked to change your password.</p>
    <p style="font-size: 85%;">Please note, passwords are case sensitive, contain 8 characters and must contain a capital letter, a number and a special character.</p>
    <br />
    <p>
        <u>Login information</u>
    </p>
    <p>Portal Link: <a href=\"@Link\">@Link</a></p>
    <p>Login Email Address: @Email</p>
    <p>Login Password: @Password</p>
    <br />
    <p>Thank you.</p>
    <p>
        <img src="cid:companyLogo" style="height: 55px;" />
    </p>
</body>
</html>