@{
	Layout = "Views.Shared._EmailLayout.cshtml";
}

<span>Hello, @Model.ApproverName</span>
<p>You have a purchase order to approve for @Model.ApproveeName.  Please log into <a href="@Model.Url">MedForce</a> to approve. </p>
Thanks You,