@{
	Layout = "Views.Shared._EmailLayout.cshtml";
}

<span>Hello, @Model.ApproverName</span>
<p>You have a customer order to approve for @Model.ApproveeName.  Please log into <a href="@Model.Url">MedForce</a> to approve. </p>
Thank You,
